<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="generator.mapper.CartMapper">

    <resultMap id="BaseResultMap" type="generator.po.Cart">
            <id property="cartId" column="cartId" jdbcType="INTEGER"/>
            <result property="foodId" column="foodId" jdbcType="INTEGER"/>
            <result property="businessId" column="businessId" jdbcType="INTEGER"/>
            <result property="userId" column="userId" jdbcType="VARCHAR"/>
            <result property="quantity" column="quantity" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        cartId,foodId,businessId,
        userId,quantity
    </sql>
</mapper>
