<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="generator.mapper.OrderdetailetMapper">

    <resultMap id="BaseResultMap" type="generator.po.Orderdetailet">
            <id property="odId" column="odId" jdbcType="INTEGER"/>
            <result property="orderId" column="orderId" jdbcType="INTEGER"/>
            <result property="foodId" column="foodId" jdbcType="INTEGER"/>
            <result property="quantity" column="quantity" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        odId,orderId,foodId,
        quantity
    </sql>
</mapper>
